
body {
    font-family: 'Roboto', Courier, monospace;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

a {
    color: #f9fafb;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 18px;
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
margin: 42px 0px 0px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem;
    width: 60%;
}

#hero-image {
    width: 100%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 36px;
    padding: 64px;
}

.button {

}

.left, .right {
    width: 50%;

}

.information {
    color: black;
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    gap: 24px;

}

.services {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 32px;
    padding: 32px;
}

.service {
    width: 20%;
    color:black
}

.service-image {
    border: #3882f6 5px solid; 
    border-radius: 10%;
    width: 225px;
    height: 225px;
}

