* {
    font-family: Roboto;
    margin: 0px;
    border: 0px;
}

button {
    margin-top: 15px;
    border-radius: 12px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 13pt;
}

.header,
.hero {
    background-color: #1f2937;
    color: #f1faee;
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo {
    font-size: 20pt;
    font-weight: bolder;
}

.header a {
    color: #cdd0d5;
    text-decoration: none;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-block {
    padding-right: 75px;
}

.left-block p {
    color: #cdd0d5;
}

.left-block h1 {
    font-size: 36pt;
}

.left-block button {
    background-color: #408ef3;
    color: white;
}


.gallery-heading h2 {
    font-size: 36px;
    font-weight: bold;
}